  
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");
*
{
    margin:0;
    padding: 0;
    box-sizing:border-box;
    font-family: 'Poppins', sans-serif;
}

header
{
    background-color: #EDF2F4;
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 20px 100px;
    z-index: 10000;
    transform: 0.8s;
}

header .logo
{
    width: 120px;
    height: 40px;
    position: relative;
    background-image: url("img/logga_slutprojekt_final.svg");
    background-position: center;
    background-repeat: no-repeat;
    color: #2B2D42;
    transition: 0.6s;
}
header #toggle
{
    position: relative;
    width: 30px;
    height: 30px;
    cursor: pointer;
}
header #toggle:before 
{
    content: '';
    position: absolute;
    top: 12px;
    width: 100%;
    height: 2px;
    background: #2B2D42;

}
header #toggle:after 
{
    content: '';
    position: absolute;
    bottom: 4px;
    width: 100%;
    height: 2px;
    background: #2B2D42;
}
.banner.active header #toggle:before
{
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%) rotate(-45deg);
}
.banner.active header #toggle:after
{
    top: 50%;
    left:  50%;
    transform: translate(-50%,-50%) rotate(45deg);
}

.banner
{
    position: relative;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    background-size: cover;
    display: flex;
    align-items: center;
    transition: 0.5s;
    z-index: 2;
}
.banner .image_content {
    background-image: url("img/gubbe_slutprojekt.svg");
    width: 500px;
    height: 600px;
    background-repeat: no-repeat;
    margin-left: 10vw;
}
.banner.active
{
  transform:translateX(-400px);
}
#navigation 
{
    position: fixed;
    top: 0;
    right: -200px;
    width:  400px;
    height: 100vh;
    background: #8D99AE;
    z-index: 1;
    display: grid;
    place-items: center;
    transition: 0.5s;
}
#navigation.active
{
    right: 0px;
}
#navigation ul
{
    position: relative;
    display:flex;
    flex-direction: column;
}
#navigation ul li
{
    list-style: none;
}
#navigation ul li a
{
    color:#EDF2F4;
    text-decoration: none;
    display: inline-block;
    font-size: 2em;
    font-weight: 600;
    text-transform: uppercase;
}
#navigation ul li a:hover {
    color: #2B2D42;
    transform: scale(1.1);
}
.content
{
max-width: 600px;
}
.content h2 
{
    color: #EDF2F4;
    font-size: 2.5em;
}
.content h2 span
{
    color: #EF233C;
    font-size: 1.2em;
}
.content p
{
    color: #EDF2F4;
    font-size: 1.2em;
    font-weight: 300;
}
.content a
{
    position: relative;
    display: inline-block;
    margin-top: 20px;
    margin-left: 100px;
    padding: 10px 40px;
    text-decoration: none;
    font-size: 1.2em;
    font-weight: 500;
    right: 100px;
}
.btn-1 {
   background: #EDF2F4;
   color: #2B2D42;
   z-index: 1;
 }
 .btn-1:after {
   position: absolute;
   content: "";
   width: 0;
   height: 100%;
   top: 0;
   right: 0;
   z-index: -1;
    background: #8D99AE;
   transition: all 0.3s ease;
 }
 .btn-1:hover {
   color: #EF233C;
 }
 .btn-1:hover:after {
   left: 0;
   width: 100%;
 }
 .btn-1:active {
   top: 2px;
 }
.sci
{
    position: absolute;
    display: flex;
    flex-direction: column;
    right: 100px;
}
.sci li
{
    list-style: none;
}
.sci li a
{
    position: relative;
    display: grid;
    place-items: center;
    width: 50px;
    height: 50px;
    text-decoration: none;
    border: 1px solid #EDF2F4;
    margin: 10px 0 0;
}
.sci li a:hover
{
    background: #EDF2F4;
}
.sci li a img
{
    max-width: 20px;
    filter: invert(1);
    mix-blend-mode: difference;
}

@media screen and (max-width: 700px) {
    .content
    {
    max-width: 60vw;
    }
    .content h2 
    {
        color: #EDF2F4;
        font-size: 2.0em;
    }
.content h2 span
    {
        color: #EF233C;
        font-size: 1.2em;
    }
    .content p
    {
        color: #EDF2F4;
        font-size: 1.1em;
        font-weight: 300;
    }
    .content a
    {
        padding: 10px 32px;
        font-size: 1.2em;
    }
    .banner
    {
        padding: 130px 80px;
    }
}
@media screen and (max-width: 460px) {
    .content {
        max-width: 80vw;
    }
    .banner
    {
        padding: 130px 40px;
    }
    .content a
    {
        padding: 10px 32px;
        font-size: 1.2em;
    }
    header{
        padding: 20px 60px;
    }
}
@media screen and (min-width: 1600px) {
    .banner .image_content {
        margin-left: 20vw;
    }
}
@media screen and (max-width: 1440px) {
    .banner .image_content {
        margin-left: 5vw;
    }
}
@media screen and (max-width: 1360px) {
    .banner .image_content {
        width: 400px;
        margin-left: 0vw;
    }
}
@media screen and (max-width: 1200px) {
    .banner .image_content {
        background-image: none;
    }
}
.wrapper_about {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: row;

}
#div_image {
    margin-top: 10vh;
    width:500px;
    height:80vh;
    margin-right: 30px;
}
#div_image #image {
    width: 500px;
    height: 80%;
    background-image: url("./img/gubbe_slutprojekt.svg");
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}
#div_text {
    width:500px;
    height:80vh;
    margin-left: 30px;

}
#div_text h2 {
    color: white;
    font-size: 2.8em;
    margin-bottom: 15px;
}
#div_text p {
    color: white;
    font-size: 1.5em;
}
#div_text p span {
    color: #EF233C;
}
@media screen and (max-width:1260px) {
    #div_image {
        width: 400px;
    }
    #div_text {
        width: 400px;
    }
    #div_image #image {
        width: 400px;
    }
    #div_text p {
        font-size: 1.5em;
    }
}
@media screen and (max-width:1060px) {
    .wrapper_about {
        flex-direction: column;
    }
    #div_image {
        margin: 0;
    }
    #div_text {
        margin: 0;
    }
}
@media screen and (max-width:550px) {
    #div_image {
        margin: 0;
        width: 100%;
    }
    #div_text {
        margin: 0;
        width: 100%;
    }
    #div_image #image {
        width: 100%;
        height: 80%;
    }
    #div_text p {
        font-size: 1.2em;
    }
}


.contact-section {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.contact-info {
    color: #fff;
    max-width: 500px;
    line-height: 65px;
    padding-right: 50px;
    font-size: 18px;
    padding-left: 80px;
    font-weight: 500;
}

.contact-info i {
    margin-right: 20px;
    font-size: 25px;
}

.contact-form {
    max-width: 700px;
    margin-right: 50px;
}

.contact-info, .contact-form {
    flex: 1;
}

.contact-form h2 {
    color: #fff;
    text-align: center;
    font-size: 35px;
    text-transform: uppercase;
    margin-bottom: 10px;
}
.contact-form p {
    color: #fff;
    text-align: center;
    font-size: 25px;
    margin-bottom: 30px;
}

.contact-form .text-box {
    background: #8d99ae;
    color: #fff;
    border: none;
    width: calc(50% - 10px);
    height: 50px;
    padding: 12px;
    font-size: 15px;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}
.contact-form .text-box:first-child{
    margin-right: 15px;
}

.contact-form textarea {
    background: #8d99ae;
    color: #fff;
    border: none;
    width: 100%;
    padding: 12px;
    font-size: 15px;
    min-height: 200px;
    max-height: 400px;
    resize: vertical;
    border-radius: 5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
    opacity: 0.9;
}

.contact-form .send-btn {
   float: right;
   background: #8d99ae;
    color: #fff;
    border: none;
    width: 120px;
    height: 40px;
    font-size: 15px;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: 2px;
    cursor: pointer;
    border-radius: 5px;
    transition: 0.3s;
    transition-property: background;
}

.contact-form .send-btn:hover {
    background: #ed393d;

}

@media screen and (max-width: 950px) {
    .contact-section {
        flex-direction: column;
    }
    .contact-info, .contact-form {
        margin: 30px 50px;
    }
    .contact-form h2 {
        font-size: 30px;
    }
    .contact-form .text-box {
        width: 100%;
    }
}

.portfolio_title {
    color: #fff;
    padding: 20px;
    font-size: 30px;
    text-transform: uppercase;
}
 
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
    margin: auto;
}

.column {
    flex: 100%;
    max-width: 100%;
}
.column img {
    vertical-align: middle;
    border-radius: 50px;
    
}  
.container {
    position: relative;
    width: 100%;
}
.image {
    display: block;
    width: 100%;
    height: auto;
    padding: 5px;
}
.overlay {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: 0.5s ease;
    background-color: black;
    border-radius: 50px;
}
.container:hover .overlay {
    opacity: 0.5;
  
}
.text {
    color: white;
    font-size: 20px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
}

/* Tablet Styles */
@media only screen and (min-width: 200px) {
    .column {
      flex: 100%;
      max-width: 100%;
    }
}
@media only screen and (min-width: 786px) {
    .column {
      flex: 50%;
      max-width: 50%;
    }
}
 
 
/* Desktop Styles */
@media only screen and (min-width: 1024px) {
    .column {
      flex: 33.3%;
      max-width: 33.3%;
    }
}